.rocahoja {
  padding-left: 45%;
  padding-right: 45%; }

.rocahoja img {
  margin-bottom: 50%; }

.contenedor_card {
  background-color: black;
  display: flex;
  height: 300px;
  justify-content: space-evenly;
  align-items: center; }

.card_ingresos {
  width: 25%;
  height: 200px; }

.card_img {
  width: 90%; }

.card_img:hover {
  transform: scale(120%);
  transition: 2s; }

.img_portada {
  width: 100%;
  padding: 10%;
  padding-bottom: 5%; }

.div1 {
  width: 100%;
  margin: 5px;
  margin-top: 22%;
  margin-bottom: 22%; }

@media screen and (min-width: 768px) {
  .img_portada {
    width: 100%;
    padding: 10%;
    padding-bottom: 5%; }
  .div1 {
    width: 100%;
    margin: 5px;
    margin-top: 80px;
    margin-bottom: 10px; } }

.form_cont {
  color: #6e93e4; }

.div_footer {
  padding: 10%;
  padding-bottom: 2%;
  text-align: center;
  color: #f0b618;
  font-family: bebas-neue,sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px; }

.div_footer img {
  width: 50px; }

.texto_futer_secundario {
  color: silver;
  font-family: sans-serif;
  font-size: 15px; }

.img_menu {
  width: 15px; }

img {
  width: 100%;
  margin-top: 4px;
  border-radius: 8px; }
