*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    height: 100%;
}

body{
    min-height: 100%;
    font-family: bebas-neue, sans-serif;
    color: yellow;
    background-color: black;
}

.grillasite{
    text-align: center;
}



.grillasite{
    display: grid;
    gap: 10px;
    grid-template: 
    "header" 80px
    "menu" 70px
    "main" 200px
    "footer" 300px; 
}

.header{
    grid-area: header;
    background-color: black;  
    display: flex;
    justify-content: center;
    align-items: center;
}

.header img{
    width: 9%;

}

.menu{
    grid-area: menu;
    background-color: black;  
    
}

.menu ul{
    display: flex;
    justify-content: space-evenly;
    margin-top: 13px;
}
.menu ul li {
    list-style-type: none;
}
.menu ul li a{
    text-decoration: none;
    color: yellow;
}


.main{
    grid-area: main;
    background-color: black;  
    display: flex;
    justify-content: center;
    align-items:center;
}

main img{
    width: 60%;
    
}

.footer{
    grid-area: footer;
    background-color: black;  
}

.card_foot_celu{
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: medium;
    
}

.card_foot_celu p{
    color: silver;
    font-family: sans-serif;
    font-size: small;
}

.grillasite_galeria{
    display: grid;
    gap: 10px;
    align-items: center;
    grid-template: 
    "header" 80px
    "menu" 70px
    "foto1" 300px
    "foto2" 300px
    "foto3" 300px
    "foto4" 300px
    "foto5" 300px
    "foto6" 300px
    "footer" 300px; 
}

.galeria1{
    grid-area: foto1;    
    
    
}

.galeria1 img{
    width: 70%;
}

.galeria2{
    grid-area: foto2;
    
    
}

.galeria2 img{
    width: 70%;
}

.galeria3{
    grid-area: foto3;
    
    
}

.galeria3 img{
    width: 70%;
}

.galeria4{
    grid-area: foto4;
    
    
}

.galeria4 img{
    width: 70%;
}
.galeria5{
    grid-area: foto5;
    
    
}

.galeria5 img{
    width: 70%;
}

.galeria6{
    grid-area: foto6;
    
    
}

.galeria6 img{
    width: 70%;
}
@media (min-width: 600px){
    .grillasite{
        background-color:black;
        grid-template: 
        "header header" 100px
        "menu menu" 50px
        "main main" auto
        "footer footer" 150px;
    }
    .footer_600{
        grid-area: footer;
        background-color: black; 
        display: flex;
        justify-content: center;
        align-items: center; 
    }
    .card_foot_celu_600{
        height: 100px;
        width: 30%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: medium;
        
    }
    .grillasite_galeria{
        display: grid;
        gap: 10px;
        align-items: stretch;
        grid-template: 
        "header header" 80px
        "menu menu" 70px
        "foto1 foto2" 300px 
        "foto3 foto4" 300px
        "foto5 foto6" 300px
        "footer footer" 300px; 
    }

    .galeria1{
        grid-area: foto1; 
        
        
        
    }
    
    .galeria1 img{
        width: 60%;
        padding-left: 50px;
    }
    
    .galeria2{
        grid-area: foto2;
        
        
    }
    
    .galeria2 img{
        width: 60%;
    }
    
    .galeria3{
        grid-area: foto3;
        
        
    }
    
    .galeria3 img{
        width: 58%;
    }
    
    .galeria4{
        grid-area: foto4;
        
        
    }
    
    .galeria4 img{
        width: 60%;
    }
    .galeria5{
        grid-area: foto5;
        
        
    }
    
    .galeria5 img{
        width: 58%;
    }
    
    .galeria6{
        grid-area: foto6;
        
        
    }
    
    .galeria6 img{
        width: 60%;
    }

}


