.circulo{
    height:100px;
    width:100px;
    border-radius:50px;
    display: inline-block;
 }

 .extend_circulo1{
     @extend .circulo;
     background-color: orangered;
 }

 .extend_circulo2{
    @extend .circulo;
    background-color: yellowgreen;
}

.extend_circulo3{
    @extend .circulo;
    background-color: burlywood;
}

.extend_circulo4{
    @extend .circulo;
    background-color: goldenrod; 
    
}

.extend_circulo4:hover{
    background-color: aquamarine;
}
