.div_footer {
    padding: 10%;
    padding-bottom: 2%;
    text-align: center;
    color: #f0b618;
    font-family: bebas-neue,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px; }
  
  .div_footer img {
    width: 50px; }
  
  .texto_futer_secundario {
    color: silver;
    font-family: sans-serif;
    font-size: 15px; }