@import 'variables';
@import 'ingresos';
@import 'index';
@import 'galeria';
@import 'contacto';
@import 'footer';
@import 'barnav';









img{
    width: 100%;
    margin-top: 4px;
    border-radius: 8px;}  //esto afecta a todas las imagenes de la pagina, magicamente no rompe nada
    








