.contenedor_eventos{
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-evenly;
}

.contenedor_foto_evento{
    display: flex;
    justify-content: center;
}

.foto_eventos{
    width: 80%;
}

.foto_eventos:hover{
    transform: scale(120%);
    transition: 2s;
}


    

.div_danke{
    display: inline-block;
    text-align: center;
    color: $segundoColor;
    margin-top: 5%;
    margin: 0px;
    padding: 0px;
}



.text{
    font-family: bebas-neue,sans-serif;
    color: $madeColor;
    font-size: 40px;
    margin: 0;
    padding: 0;
    
}


.div_agradecimiento{
    display: inline-block;
    text-align: center;
    margin-top: 5%;
    color: $segundoColor;
    
    
}


.div_agradecimiento .motivo{
    font-family: bebas-neue,sans-serif;
    font-size: 40px;
    margin-bottom: 2%;

}